<!-- Work on the forms section! -->
<h3>Create or Edit a recipe</h3>

<div class="row">
    <div class="col-xs-12">
        <form action="
        ">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="imagePath">Image URL (paste one)</label>
                            <input type="text" id="imagePath" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Image Preview</h4>
                        <img scr="" class="img-responsive" >
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" id="description" class="form-control" rows="7" ></textarea>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>